.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0;
}

.card-date {
    color: #666;
}

.card-property {
    margin: 10px;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.card-message {
    margin-bottom: 1rem;
}

.offered-price {
    font-size: 1.2rem;
    font-weight: bold;
}

.badge {
    font-size: 0.9rem;
    padding: 0.4rem 0.75rem;
    border-radius: 0.5rem;
    text-transform: uppercase;
}

.my-1 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.my-2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}

.pagination li {
    list-style: none;
    margin: 0 0.5rem;
}

.pagination li a {
    text-decoration: none;
    color: #007bff;
    padding: 0.3rem 0.6rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    transition: background-color 0.3s ease;
}

.pagination li.active a {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

.not-available,
.available {
    width: fit-content;
    color: #fff;
    padding: 5px 8px;
    border-radius: 15px;
}

.not-available {
    background-color: #dc3545;
}

.available {
    background-color: #198754;
}

.no-requests {
    font-size: 2.5rem;
    color: #dc3545;
    font-weight: 600;
    text-align: center;
    height: 60vh;
}