h1 {
  text-align: center;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.bold-title {
  font-weight: bold;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mt-4 {
  margin-top: 1.5rem;
}

.prop-image-container {
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;

}

.prop-image {
  max-width: 100%;
  max-height: 600px;
  object-fit: cover;
  position: relative;
}

.thumbnail-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.thumbnail {
  position: relative;
  cursor: pointer;
}

.thumbnail-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.thumbnail-title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 12px;
  text-align: center;
}

.thumbnail.selected {
  border: 2px solid blue;
}

.property-card {
  margin-bottom: 20px;
}

.card-header {
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.card-content {
  font-size: 16px;
}

.property-tabs {
  margin-top: 20px;
}

.property-tab-content {
  padding: 20px;
}

.property-tab-content h5 {
  margin-bottom: 10px;
}

.property-tab-content p {
  margin-bottom: 5px;
}

.display-5 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
}

.black-tape {
  position: absolute;
  top: -3%;
  right: 0%;
  width: 250px;
  height: 50px;
  background-color: rgb(216, 11, 11);
  transform: translateX(25%) translateY(100%) rotate(45deg);
}

.tape-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
  font-family: Arial, sans-serif;
  font-size: 25px;
  text-align: center;
  line-height: 1.5;
}