i {
  cursor: pointer;
}

.fa-plus {
  color: rgba(0, 0, 0, 0.341);
}

.fa-trash {
  color: red;
}

.fa-pen-to-square {
  color: rgba(0, 152, 247, 0.995);
}

.fa-check {
  color: rgba(0, 152, 247, 0.995);
}

.fa-star {
  color: gold;
}
