
/* ViewProperty.css */

.container-fluid {
  margin-top: 40px;
  margin-bottom: 40px;
padding-left: 1


}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.card {
  margin-bottom: 20px;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
}

.card-text {
  margin-bottom: 5px;
}

.Card.Body
{
  margin-bottom: 20px;
}

.property-description {
  margin-top: 20px;
}

.property-tabs {
  margin-top: 20px;
}

.property-location {
  margin-top: 20px;
}
